* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  background-color: #5F9EA0;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  height: 400px;
  background-color: red;
}

.header-top {
  height: 20%;
  background-color: blue;
  margin-top: 10px;
  line-height: 50px;
  text-transform: uppercase;
}

.header-logo {
  float: left;
  margin-right: 10%;
}

.header-menu-left {
  float: left;
  color: #fff;
}

.header-menu-right {
  float:right;
  color: #fff;

}

div li {
  display: inline-block;
  margin-right: 20px;
}
