* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}
header {
  background-color: #0D325A;
  position: relative;
  height: 450px;
  font-family: sans-serif;
}
.header-top {
  height: 15%;
  line-height: 50px;
  text-transform: uppercase;
}
.header-logo {
  float: left;
  margin-right: 10%;
}
.header-menu-left {
  float: left;
}
.header-menu-right {
  float:right;
  padding-left: 100px;
}
div li {
  display: inline-block;
  margin-right: 30px;
  font-size: 15px;
}
.header-menu-left li a {
  color:#fff;
  text-decoration: none;
}
.header-menu-right li a {
  color: #fff;
  text-decoration: none;
}
nav .button2 {
  color: #fff;
  background-color: #7BBB01;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #7BBB01;
  padding: 10px;
}
nav .button1 {
  color: #fff;
  background-color: #0D325A;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid #fff;
  padding: 10px 30px 10px 30px;
  margin-right: 20px;
}

.button3 {
  color: #fff;
  background-color: #7BBB01;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #7BBB01;
  padding: 20px 10px 20px 10px;
  margin-top: 30px;
}

h3 {
  padding-top: 100px;
  clear: both;
  color: #fff;
  font-size: 50px;
}

.image-banner {
  bottom: 0px;
  right: 0px;
  position: absolute;
  width: 40%;

}

.square-main {
  background-color: #D3D3D3;
  height: 150px;
  width: 100%;
  text-align: center;
  padding-top: 2.5%;
}

.scuole {
  font-family: sans-serif;
}

.paragrafo {
  font-family: sans-serif;
  color: #A9A9A9;
  line-height: 40px;
}
